@font-face {
    src: url(GABRWFFR.TTF);
    font-family: Friends;
}

body{
    background-image: url(IMG_9814.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

.haiku{
    font-family: Friends;
    text-align: center;
    margin-top: 400px;
    color: #ecbc18;
    font-size: 50px;
}

.back{
    font-family: Friends;
    color: #ecbc18;
    font-size: 25;
}